.inputField
  display: flex
  justify-content: space-between

  &__input
      width: 70%
      font-family: fantasy
      font-size: 16px
      padding: 5px
      display: inline-block
      vertical-align: top

  &__button
      font-size: 14px
      height: 40px
      padding: 7px 10px
      border: 1px solid #1dc7b9
      color: #1dc7b9
      cursor: pointer
